[submodule "kraken-api-client"]
	path = kraken-api-client
	url = https://github.com/payward/kraken-api-client.git
[submodule "EasyBitcoin-PHP"]
	path = EasyBitcoin-PHP
	url = https://github.com/aceat64/EasyBitcoin-PHP.git
